<button (click)="navigateToHome()">Click me!</button>

<section id="tickets">
    <div class="tickets-section-container">
      <h2>Tickets & Pricing</h2>

      <div class="tickets-container">
        <a href="https://tickchak.co.il/63382" target="_blank">
          <div class="ticket-wrapper">
            <div class="ticket">
              <div class="ticket-header early-bird-header">
                <div class="recommended-ticket">
                  <img src="assets/recommened.svg" />
                </div>

                <img src="assets/early-birds.svg" />
              </div>

              <div class="ticket-amount">Only 50 Available!</div>

              <div class="ticket-price">
                <p>Starting at</p>
                <h3>600ILS</h3>
              </div>

              <div class="pay-button">
                <img src="assets/pay.svg" />
              </div>
            </div>
          </div>
        </a>

        <a href="https://tickchak.co.il/63382" target="_blank">
          <div class="ticket-wrapper">
            <div class="ticket">
              <div class="ticket-header regular-header">
                <img src="assets/regular.svg" />
              </div>

              <div class="ticket-amount"></div>

              <div class="ticket-price">
                <p>Starting at</p>
                <h3>750ILS</h3>
              </div>

              <div class="pay-button">
                <img src="assets/pay.svg" />
              </div>
            </div>
          </div>
        </a>

        <a href="https://tickchak.co.il/63382" target="_blank">
          <div class="ticket-wrapper">
            <div class="ticket">
              <div class="ticket-header last-header">
                <img src="assets/last.svg" />
              </div>

              <div class="ticket-amount"></div>

              <div class="ticket-price">
                <p>Starting at</p>
                <h3>850ILS</h3>
              </div>

              <div class="pay-button">
                <img src="assets/pay.svg" />
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </section>